@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
    background-color: rgb(78, 119, 155);    
}



.resume6{
    display: flex;
    height: auto;
    max-width: 800px;
    min-width: 800px;
    width: fit-content;
    background-color: white;
}

.left6{
    background-color: #222127;
    flex-basis: 40%;
    min-width: 420px;
    max-width: 420px;

}

.right6{
    background-color: white;
    flex-basis: 60%;
    min-width: 480px;
    max-width: 480px;
}

.left6 img{
    height: auto;
    width: 420px;
    max-width: 420px;
}

.profile-name6{
    padding: 40px;
    width: 100%;
    background-color: #ffcb01;
    margin-top: 100px;
}

.profile-name6 h1{
    font-size: 50px;
    letter-spacing: 10px;
}

.profile-name6 h4{
    font-size: 25px;
    letter-spacing: 7px;
    font-weight: 400;
}